.container {
  display: flex;
  align-items: center;
  gap: 100px;
  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.section {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  @media (max-width: 768px) {
    align-items: center;
  }
}

.hero {
  width: 100%;
  height: 500px;
  object-fit: contain;
  animation: move 3s infinite ease alternate;
  @media (max-width: 768px) {
    height: 300px;
  }
}

@keyframes move {
  0% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(10px) scale(1.03);
  }
}
.title {
  font-size: 2rem;
  font-weight: 700;
  background: linear-gradient(to bottom, #ae10de, #e188ee);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  transition: all 0.3s ease;
  @media (max-width: 768px) {
    text-align: center;
  }
}
.description {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.5;
  transition: all 0.3s ease;
  @media (max-width: 768px) {
    text-align: center;
  }
}
.title:hover,
.description:hover {
  transform: scale(1.1);
}

.description::selection {
  background: #b00d3c;
  color: #fff;
}
