.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}
.social {
  display: flex;
  align-items: center;
  gap: 10px;
}
.social-icon {
  cursor: pointer;
}
